annotated-doc
annotated-types
anyio
attrs
audioread
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
decorator
defusedxml
docstring_parser
easyocr
faiss-cpu
fastapi
filelock
Flask
flask-cors
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
idna
imageio
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
lazy_loader
librosa
llvmlite
MarkupSafe
mcp
MouseInfo
mpmath
msgpack
mss
networkx
ninja
numba
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
platformdirs
pluggy
pooch
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
PyAutoGUI
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pynput
pyparsing
pyperclip
PyRect
PyScreeze
pytesseract
pytest
pytest-asyncio
python-bidi
python-dateutil
python-dotenv
python-multipart
pytweening
pytz
PyYAML
referencing
requests
rpds-py
rsa
scikit-image
scikit-learn
scipy
setuptools
shapely
six
slack-bolt
sniffio
sounddevice
soundfile
soxr
sse-starlette
standard-aifc
standard-chunk
standard-sunau
starlette
sympy
tenacity
threadpoolctl
tifffile
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websockets
Werkzeug
youtube-transcript-api
yt-dlp
sentence-transformers
