name: commit-pr-lint

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v5
        with:
          configFile: commitlint.config.js

  pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          config: .github/pr-title-lint.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
