name: container-iac-scan

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
  pull_request:
    paths:
      - "**/Dockerfile*"
      - "**/*.yaml"
      - "**/*.yml"

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.22.0
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: CRITICAL,HIGH

      - name: Trivy config scan
        uses: aquasecurity/trivy-action@0.22.0
        with:
          scan-type: config
          exit-code: "1"
          severity: CRITICAL,HIGH
